.py-base {
  padding-block: var(--py-base);
}

.px-lg {
  padding-inline: var(--px-lg);
}

.container {
  --max-width: 22.5rem;
  width: min(var(--max-width), 100% - var(--px-lg) * 2);
  margin-inline: auto;
}

.desktop-only {
  display: none;
}

.grid {
  display: grid;
}

.grid-flow-col {
  grid-auto-flow: column;
}

@media (width >= 80em) {
  #primary {    
    gap: 0.5rem;
  }
  .container {
    --max-width: 80rem;
  }

  .desktop-only {
    display: initial;
  }
}